@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

/** {
    border: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', serif;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.right {
    float: right;
}

.left {
    float: left;
}

.txt-right{
    text-align: right;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

header {
    margin-top: 30px;
    color: #585858;
}

header img {
    max-width: 120px;
    margin-bottom: 0;
}

img {
    width: 100%;
}

h1 {
    font-size: 42pt;
    font-weight: 100;
    margin: 0;
}

hr {
    border: 2px solid #949494;
}

svg {
    margin: 10px;
    display: block;
}

#h2 {
    color: #949494;
    font-size: 32pt;
    font-family: 'Noto Sans', serif;
    font-weight: 200;
    margin-bottom: 5px;
}

#pictures img {
    width:calc((100% - 40px)/3);
    margin-right: 15px;
}

#pictures img:last-of-type {
    margin-right: 0;
}

#text {
    text-align: center;
    color: #585858;
}

#text h2 {
    font-size: 30pt;
    margin: 10px auto;
}

p {
    font-size: 12pt;
    font-weight: 100;
}